.services-container {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.services-intro {
    font-size: 42px; /* Увеличили размер заголовка */
    font-weight: bold;
    margin-bottom: 40px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s ease 0.5s forwards;
}

.service {
    display: flex;
    flex-direction: column;
    background-color: #3f3f3f62;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-10px); /* Поднимаем карточку */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Увеличиваем тень */
}

.service-img {
    width: 100%;
    height: 300px; /* Фиксированная высота для всех изображений */
    overflow: hidden; /* Скрываем выходящие части */
}

.service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинка адаптируется, чтобы заполнить контейнер */
    object-position: center; /* Центрируем изображение */
}
.service-info {
    padding: 20px;
    flex-grow: 1;
}

.service-info h3 {
    font-size: 28px; /* Увеличили размер заголовка карточки */
    font-weight: 600;
    color: #FFF;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}



.service-description {
    font-size: 17px; /* Увеличили описание карточки */
    color: #FFF;
    margin-bottom: 20px;
}

.service-footer {
    padding: 15px 20px;
    background-color: rgba(56, 56, 56, 0.31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    position: relative; /* Добавляем для точного позиционирования */
}

.price-ser {
    font-size: 24px; /* Увеличили цену */
    font-weight: bold;
    color: #fa9021;
    margin-left: 0; /* Сброс отступов для левостороннего выравнивания */
    text-align: left; /* Убедимся, что текст выравнен влево */
}

.buy-button {
    font-size: 18px; /* Увеличили текст на кнопке */
    background-color: #fa9021;
    color: white;
    padding: 14px 30px; /* Немного увеличили отступы */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: auto; /* Сдвигаем кнопку к правому краю */
}


.buy-button:hover {
    background-color: #97540b;
    transform: scale(1.1);
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
